<h1>Training Details</h1>

<div class="well">
<p id="notice"><%= notice %></p>

<p>
  <b>Training ID:</b>
  <%= @training.id %> (<%= link_to 'Edit', edit_training_path(@training) %> / <%= link_to 'Destroy', @training, :confirm => 'Are you sure?', :method => :delete %>)
</p>

<p>
  <b>Document:</b>
  <%= link_to @training.document.full_name, @training.document %>
</p>

<p>
  <b>Employee:</b>
  <%= link_to @training.employee.full_name, @training.employee %>
</p>

<p>
  <b>Trainer:</b>
  <%= (@training.trainer ? @training.trainer.full_name : '') %>
</p>

<p>
  <b>Trained on:</b>
  <%= @training.trained_on %>
</p>

<p>
  <b>Expires:</b>
  	<% if(!@training.trained_on.blank?) %>
	After <%= @training.expires %> months on
	<%= @training.trained_on.advance(:months => @training.expires) %>
	<% end %>
</p>

<p>
  <b>Current Status:</b>
  <%= render :partial => "status", :object => @training.status %>	
</p>

</div>

<p><%= link_to 'All Training', trainings_path %>

