<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Department</th>
    <th>Trainer</th>
	<th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.username, employee %></td>
	<td><%= employee.full_name %></td>
	<td><%= render :partial => 'departments', :object => employee.departments %></td>
    <td><%= employee.trainer %></td>
	<td><%= employee.active %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
