<h1>Document Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_groups.each do |document_group| %>
  <tr>
    <td><%= document_group.name %></td>
    <td><%= link_to document_group.department.name, document_group.department %></td>
    <td><%= link_to 'Show', document_group %></td>
    <td><%= link_to 'Edit', edit_document_group_path(document_group) %></td>
    <td><%= link_to 'Destroy', document_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document Group', new_document_group_path %>
