<p id="notice"><%= notice %></p>

<h1>
  <%= @document_group.display_name %>
</h1>
<%= link_to 'Edit', edit_document_group_path(@document_group) %> |
<%= link_to 'Back', document_groups_path %>
<hr>
<h4>Associated Documents:</h4>
<table>
  <tr>
	<th>Number</th>
	<th>Name</th>	
  </tr>
  <% @document_group.documents.each do |document| %>
  <tr>
    <td><%= link_to document.number, document %></td>
    <td><%= document.name %></td>
  </tr>
  <% end %>
</table>


