<h1>All Departments</h1>

<p id="notice" class="notice"><%= notice %></p>
<p id="error" class="error"><%= alert %></p>

<%= render_tree @departments_tree do |node, child| %>
	<li>
		<%= link_to node.name, department_path(node) %> 
		<small>(<%= link_to 'U', department_moveleft_path(node) %>/<%= link_to 'D', department_moveright_path(node) %>/<%= link_to 'Edit', edit_department_path(node) %>)</small>
	</li>
  <%= child %>
<% end %>

<%= link_to 'New Department', new_department_path %>