<!DOCTYPE html>
<html>
<head>
  <title>TrainingTracker</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "print", :media => 'print' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<a name="top"></a>
		<!-- Header/Nav -->
		<%= render :file => "layouts/header" %>
		
		<!-- Dynamic Content -->
		<%= yield %>
	</div>
		
	<!-- Footer -->
	<%= render :file => "layouts/footer" %>
</body>
</html>
