<!DOCTYPE html>
<html>
<head>
  <title>TrainingTracker</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "print", :media => 'print' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<!-- Header -->
		<div class="span-24">
			<%= render :file => "layouts/header" %>
		</div>
		
		<!-- Dynamic Content -->
		<%= yield %>
		
		<!-- Footer -->
		<div class="span-24">
			<%= render :file => "layouts/footer" %>
		</div>
	</div>
</body>
</html>
