<!DOCTYPE html>
<html>
<head>
  <title>TrainingTracker</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Header/Nav -->
	<a name="top"></a>
	<%= render :file => "layouts/header" %>
		
	<div class="fluid-container" style="margin:50px; margin-bottom:50px;">
		<!-- Dynamic Content -->
		<%= yield %>
	</div>
		
	<!-- Footer -->
	<%= render :file => "layouts/footer" %>
</body>
</html>
